{% extends 'layouts/base.html' %}

{% block content %}
    <h1 class='text-center'> Add Book </h1>

    <form action="{{ url_for('books.createform') }}" method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.name.label(class="form-label") }}: {{ form.name(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.price.label(class="form-label") }}: {{ form.price(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.NumberPage.label(class="form-label") }}: {{ form.NumberPage(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.image.label(class="form-label") }}: {{ form.image(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.category_id.label(class="form-label") }}: {{ form.category_id(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
{% endblock %}
